@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.homeadmin-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeadmin-wrapper {
  width: 100%;
}

.container-homeadmin {
  display: flex;
  justify-content: center;
}

.judul {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: fit-content;
  height: fit-content;
}

.judul p {
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

.subjudul {
  font-size: 24px;
  font-weight: 400;
}

.centerrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kolom-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.button-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: transparent;
  border: 1px solid #b88e2f;
}

.button-admin:hover {
  background-color: #b88e2f;
  border: none;
}

.button-admin:hover p,
.button-admin:hover svg {
  color: white !important;
}

.button-admin p {
  font-size: 20px;
  color: #b88e2f;
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .button-admin {
    width: 150px;
    height: 80px;
  }

  .kolom-button {
    gap: 10px;
    justify-content: center;
  }
}
