@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600&display=swap");

.judul {
  /* background-color: red; */
  color: black;
  display: flex;
  justify-content: center; /* Menempatkan teks di tengah secara horizontal */
  align-items: center; /* Menempatkan teks di tengah secara vertikal */
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
}

.kolom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.kon-login {
  font: "Poppins", sans-serif;
  background-image: url("../asset/Login.png");
  background-size: cover; /* Agar gambar memenuhi seluruh area */
  background-position: center center; /* Menjaga posisi gambar tetap di tengah */
}

h1 {
  color: black;
}

.label {
  color: black;
}

.password {
  background-color: red;
}
.login {
  color: black;
  min-height: 100vh; /* Mengatur tinggi kontainer agar setidaknya 100% dari tinggi layar */
  display: flex;
  justify-content: center; /* Menempatkan elemen di tengah secara horizontal */
  align-items: center; /* Menempatkan elemen di tengah secara vertikal */
  color: white;
}
.Button {
  margin-left: 10px;
  width: 97%;
  background-color: #b88e2f;
  color: white;
  font-size: 16px;
}

.kolom .button {
  padding: 10px 20px;
  width: 100%;
  background-color: #b88e2f;
  color: white;
  font-size: 16px;
}
.Forgot .left {
  text-align: left;
  flex: 1;
}

.Forgot .right {
  text-align: right;
  flex: 1;
}
.Forgot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p {
  margin: 0;
  color: black;
}
