@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600&display=swap");

.judulawal {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
}

.kolom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.kon-login {
  font: "Poppins", sans-serif;
  background-image: url("../asset/Login.png");
  background-size: cover; /* Agar gambar memenuhi seluruh area */
  background-position: center center;
}

.kontainernyalogin {
  position: absolute;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
}

.label {
  color: black;
}
.login {
  color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -1rem;
  font-size: 14px;
  font-weight: bold;
}

.forgot-password,
.signup-text,
.signup-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-text {
  color: #333;
}

.forgot-password:hover,
.signup-link:hover {
  text-decoration: underline;
}

.Button {
  background-color: #b88e2f;
  color: white;
  font-size: 16px;
  border: none;
  margin-bottom: 0.5rem;
}

.Button:hover {
  background-color: #b88e2f;
}

.kolom .button {
  padding: 10px 20px;
  width: 100%;
  background-color: #b88e2f;
  color: white;
  font-size: 16px;
}

.Forgot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p {
  margin: 0;
  color: black;
}

@media (max-width: 768px) {
  .kon-login {
    background-image: none;
  }
  .kontainernyalogin {
    display: flex;
  }
  .judulawal {
    font-size: 95px;
  }

  .auth-links {
    display: flex; /* Pastikan display flex tetap ada */
    flex-direction: column; /* Tata letak vertikal */
    align-items: flex-start;
    margin-top: 2rem;
  }

  .signup-text {
    margin-top: 0.5rem;
  }
}
