@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


.bannershop{ 
    position: relative;
    width: 100vw;
}

.foto{
    width: 100vw;
}

.tulisanbanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.kontainerr {
    background-color: #F9F1E7 ;
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 20px;   
}



.Dropdown{
    display: flex;
    width : max-content;
    align-items: center; 
    justify-content: end;
    gap : 15px;
    /* background-color: black; */
}

.Dropdown .Toggle {
    background-color: white;
    border-radius: 0;         
    color: #9F9F9F;       
    border: 1px solid #ccc;  
}

.Dropdown .Toggle:focus,
.Dropdown .Toggle:active,
.Dropdown .Toggle:hover {
    background-color: white;  
    color: #9F9F9F;           
    border: 1px solid #ccc;  
    outline: none;         
   }   

.kolomkiri{
    display: flex;
    gap : 20px;
    align-items: center;
    /* background-color: red; */
}

.drop1{
    display: flex;
    align-items: center; 
    gap : 15px
}


.kontainerr .kolomkiri, .kontainerr .Dropdown {
    margin-right: 500px;  /* Menambahkan jarak antar kolom */
}

.kontainerr .Dropdown {
    margin-right: 0;  /* Optional: jika Anda ingin menghapus margin di kolom terakhir */
}

.futer{
    background-color: #E6DBC6;
    width: 100vw;
  }