@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Menghindari scrollbar horizontal */
  box-sizing: border-box; /* Menghindari overflow karena padding/border */
}

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  width: 100vw;
  height: 606px;
  object-fit: cover;
  display: flex;
  justify-content: flex-end; /* Menempatkan card di sisi kanan */
}

.kartu {
  width: 700px;
  padding: 50px 0 50px 0;
  position: absolute !important;
  top: 150px;
  right: 50px;
  font-family: "Poppins", sans-serif;
}

.text1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.textsub {
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: bolder;
  color: #b88e2f;
}
.paragraf {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: medium;
}

.section1 {
  position: relative;
}
.button.btn {
  background-color: #b88e2f;
  border: 0px;
  color: white;
  width: 150px;
  height: 50px;
}

.button.btn:hover {
  background-color: white;
  color: #b88e2f;
  border: 1px solid #b88e2f;
  width: 150px;
  height: 50px;
}

.section2 {
  margin-top: 40px;
}

.kon-imeg {
  width: 18rem;
}

.button2.btn {
  width: 245px;
  height: 48px;
  background-color: white;
  color: #b88e2f;
  border: 1px solid #b88e2f;
}
.button2.btn:hover {
  background-color: #b88e2f;
  color: white;
  border: none;
}

.header {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #333333;
}

.subheader {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #666666;
}
.section4 {
  background-color: #fcf8f3;
  width: 100vw;
}

.section6 {
  background-color: #e6dbc6;
  width: 100vw;
}
