@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.kontainer {
  position: relative;
  width: 100%;
  padding: 50px 100px;
  font-family: "Poppins", sans-serif;
  background-color: #e6dbc6;
  color: #333;
}

.footer-content {
  max-width: 300px;
  text-align: left;
}

.Judul {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
}

.copyrait {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  text-align: left;
}

.footer-link {
  color: #333;
  text-decoration: none;
}

.footer-link:hover {
  color: #666; /* Optional: slightly darker on hover */
}

.brand-name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .kontainer {
    padding: 50px 20px;
  }

  .footer-content {
    margin: 0 auto;
    text-align: center;
  }

  .Judul {
    text-align: center;
  }

  ul {
    text-align: center;
  }

  li {
    text-align: center;
  }

  .copyrait {
    text-align: center;
  }
}
