@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.konten{
    font-family: 'Poppins', sans-serif;
    background-color: #F4F5F7;
    width: 15rem;
}
.card{
 border: none;   
 margin-bottom: 32px;
}
.card-body {
    padding: 15px;
}

.card-img {
    width: 100%;        /* Memastikan gambar memenuhi lebar card */
    height: 290px;      /* Menentukan tinggi gambar agar konsisten */
    object-fit: cover;  /* Memastikan gambar tidak terdistorsi, bisa crop sesuai ukuran */
    border-radius: 0; /* Menghilangkan border-radius pada gambar */
    transition: opacity 0.3s ease; /* Efek transisi pada hover */
}

.card:hover .card-img {
    opacity: 0.7; /* Gambar akan sedikit menggelap saat di-hover */
}



.Titlecard{
   font-weight: bolder;
   font-size: 24px;
   color : #3A3A3A;
}

.kategori{
    font-weight: medium;
    font-size : 16px;
    color : #898989;
}

.harga{
    font-weight: bolder;
    font-size : 20px;
    color :#3A3A3A;
}

a{
    text-decoration: none;
    color : inherit
}