@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.konten{
    font-family: 'Poppins', sans-serif;
    background-color: #F4F5F7;
}
.card{
 border: none;   
 margin-bottom: 35px;
}


.Titlecard{
   font-weight: bolder;
   font-size: 24px;
   color : #3A3A3A;
}

.kategori{
    font-weight: medium;
    font-size : 16px;
    color : #898989;
}

.harga{
    font-weight: bolder;
    font-size : 20px;
    color :#3A3A3A;
}

a{
    text-decoration: none;
    color : inherit
}