.rowindex {
    
    display: flex;                     
    flex-direction: column;            
    justify-content: center;           
    align-items: center;               
    gap: 32px;                         
    margin-top: 50px;                  
    margin-bottom: 50px;               
    width: 100%;                       
    padding: 0 20px;                   
    min-height: 100vh;                 
}

.rowindex .row {
    width: 100%;                       
    display: flex;                     
    flex-wrap: wrap;                  
    justify-content: center;           
}

.rowindex .col {
    display: flex;
    justify-content: center;           
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 1px; /* Jarak antar tombol */
}

/* Tombol pagination umum */
.pagination-container button {
    background-color: #F9F1E7;
    color: #000;
    border: 1px solid #B88E2F;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 15px;  /* Menambahkan jarak kiri */
    margin-right: 15px; /* Menambahkan jarak kanan */
}

/* Tombol pagination yang aktif */
.pagination-container button.active {
    background-color: #B88E2F;
    color: #fff;
}

/* Gaya untuk tombol pagination saat disabled */
.pagination-container button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

/* Gaya untuk tombol pagination saat hover */
.pagination-container button:hover {
    background-color: #B88E2F;
    color: #fff;
}

.showmore{
    background-color: white;
    border: 1px solid #B88E2F;
    color : #B88E2F;
    width: 240px;
    height: 60px  ;
    border-radius: 0px;
}

.showmore:hover{
    background-color: #B88E2F;
    color: white;
    border : 0px;
}