@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color : #333333;
}

.sub{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #666666;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #333333;
}